.StdInContainer {
	display: flex;
	background-color: white;
	height: 60px;
	text-align: left;
}

.Display {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 151px;
	resize: none;
	border-radius: 4px;
	border-color: #eeeeee;
}

.SendButton {
	float: right;
	height: 100%;
	width: 80px;
}


.StdIn {
	flex-grow: 1;
	padding: 15px;
	border: none;
}