.Card {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 25px;
	border-radius: 3px;
	height: 430px;
	-webkit-box-direction: normal;
}

@media (max-width: 400px) {
  .Card {
		max-width: 400px;
  }
}

@media (min-width: 401px) {
	.Card {
		width: 400px;
	}
}

.Header {
	margin-bottom: 20px;
	display: block;
	border-radius: 3px 3px 0 0;
}

.HeadTitle {
	display: block;
	font-size: 1.385rem;
	font-weight: 300;
}

.BorderColor {
	border-top: 3px solid #4285f4;
}

.CenteredHeaderContent {
	text-align: center;
	display: block;
	line-height: 20px;
	font-size: 1rem;
	color: #5a5a5a;
	margin-top: 11px;
	padding-bottom: 10px;
}

.Body {
	padding: 20px 30px 15px;
	border-radius: 0 0 3px 3px;
}
