
@font-face {
  font-family: 'Orbitron';
  src: local('Orbitron'), url('../assets/style/fonts/Orbitron-Regular.ttf') format('truetype');
}

body {
	background-color: #eee;
	font-size: 1rem;
	font-weight: 400;
	color: #404040;
}

html, body {
	height: 100%;
}


#root{
	height: 100%;
}

.container {
	height: calc(100% - 61px);
}

.container.centered {
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
	
.nav-bar {
	background-color: #fff;
	border: 0;
	margin-bottom: 0;
	border-bottom: 1px solid #e6e6e6;
	padding: 0;
	top: 0;
	right: 0;
	left: 0;
	z-index: 101;

	/* Brand */
	line-height: 60px;
	height: 60px;
	width: 100%;
	/* background-image: url(../img/logo.png); */
	background-repeat: no-repeat;
	background-position: 20px center;
	padding: 0 20px;
	margin: 0;
	display: block;
}

.fancyButton {
	font-family: Orbitron;
}

.icon-container .icon span {
	font-size: 1.923rem;
	color: #696767;
}

textarea:focus, input:focus{
	outline: none;
}